.box{
    background: yellow;
    height: 200px;
}
@media(min-width:768px){
    .box{
        background: green;
    }
}
@media(min-width:1280px){
    .box{
        background: red;
    }
}
@media(min-width: 1366px){
    .box{
        background: pink;
    }
}
.box{
    position: relative;
}
.box2{
    background: #000;
    width: 300px;
    height: 300px;
}